@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
}
article{
    display:flex;
    flex-direction: column;
}

.Question {
    display:none;
}
.result{
    display:none;
}
